* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poor story", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 100vh;
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
}

.container h1 img {
  height: 50%;
  width: 50%;
}

#logo {
  height: 80px;
  background-image: url(images/logo.svg);
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 0px;
}

footer {
  text-align: center;
  color: rgb(189, 199, 202);
  font-family: "poppins";
  font-size: 12px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

footer ul a {
  font-size: 24px;
  text-decoration: none;
  color: lch(100 0 0 / 0.7);
  transition: color 0.3s;
}

footer ul a:hover {
  color: white;
}

main {
  width: 400px;
  padding: 24px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 2px solid rgba(95, 120, 126, 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: rgb(189, 199, 202);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  outline: none;
  padding: 16px 0px;
  margin: 24px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

form input {
  width: 100%;
  padding: 16px 16px;
  background: rgba(68, 98, 105, 100%);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  color: rgb(189, 199, 202);
  font-size: 12px;
  font-family: "poppins";
}

form input.error {
  border-color: #ff9200;
  color: #ff9200;
}

form input::placeholder {
  font-size: larger;
  color: #ffffff94;
}

form button {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgb(229, 185, 57, 100%);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-family: "poppins";
  font-size: 16px;
  color: #3b2b08;
}

form p {
  margin-top: 16px;
  color: #ff9200;
}

#loader-container {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100vh;
  width: 100vw;
  background: hsla(0, 0%, 0%, 0.1);
  backdrop-filter: blur(10px);
}

#loader-container div {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #56cfc9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Reponseive */
@media (max-width: 900px) {
  body {
    display: block !important;
    align-items: center;
    min-height: auto;
    padding: 24px;
    background-size: cover;
    min-height: 100vh;
  }
  #chapter-container {
    gap: 16px;
  }

  #chapter-content {
    width: auto !important;
  }

  header {
    width: 100%;
    height: auto !important;
  }

  main {
    width: 100%;
    height: auto !important;
  }

  main.empty {
    height: 500px !important;
    background-size: 60%;
  }

  nav {
    height: auto !important;
  }

  form {
    flex-direction: column;
    gap: 16px;
  }

  form input {
    height: 50px;
  }

  form button {
    height: 50px;
    width: 100%;
  }
}
